{% extends "layout.html" %} {% block content %} {% if wrong %}

<h2>{{wrong}}</h2>
{% else %}

<h1>Sign in to get more information!</h1>
<form method="post" action="{{url_for('member')}}">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"/>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"/>

  <button type="submit" class="btn" name="send" value="submit-sign-in">Submit</button>
</form>
<div style="margin:100px"></div>

<h1>Don't have an account? Sign up below!</h1>

<form method="post" action="{{url_for('member')}}">
  <label for="email-sign-up">Email:</label>
  <input type="text" id="email-sign-up" name="email" />
  <label for="password">Password:</label>
  <input type="text" id="password-sign-up" name="password" />

  <button type="submit" class="btn" name="send" value="submit-sign-up"> Submit</button>
</form>


{% endif %} {% endblock %}
